/* Víctor Ubieto 2020 */
/* this CSS defines the style of the app interface */

* { padding: 0; margin: 0; font-family: Arial, Helvetica, sans-serif; overflow: hidden;}

html, body  { 
    height: 100%;
    width: 100%;
}

#main {
    height: calc(100% - 25px);
    width: 100%;
}

#top-bar {
    height: 25px;
    width: 100%;
    padding: 6px;
    
    background: #1d1d1d;
}

#top-bar .text {
    color: #e4e4e4;
    padding-top: 3px;
}

#top-bar .button {
    width: 100px;
    height: 25px;
    border-radius: 2px;

    border: none;    
    transition: 0.3s;

    color: #1d1d1d;
    background-color: #e4e4e4;
}

#top-bar .button:hover {
    color: #e4e4e4;
    background-color: #5c5a5a;
}

#graph-area {
    width: 50%;
    height: 100%; 
    float: left;

    background-color: #464646;
}

#editor {
    width: 100%;
    height: 100%; 
} 

#view-area {
    width: 50%;
    height: 100%;
    float: right;

    background-color: #00ff9d; 
}

pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
 }


/* SLIDER */

.slidecontainer {
width: 63%;
}

.slider {
-webkit-appearance: none;
width: 63%;
height: 15px;
background: #e4e4e4;
outline: none;
opacity: 0.7;
-webkit-transition: .2s;
transition: opacity .2s;
border-color: #8d8d8d;
border-style: groove;
}

.slider:hover {
opacity: 1;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 15px;
height: 15px;
background: #272727;
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 15px;
height: 15px;
background: #272727;
cursor: pointer;
}


/* PROGRESS BAR */

#myProgress {
    width: 75%;
    background-color: #ddd;
    margin-top: 10px;
    margin-left: 3px;
  }
  
  #myBar {
    width: 1%;
    height: 10px;
    background-color: rgb(255, 97, 35);;
    text-align: center;
    line-height: 10px;
    color: white;
  }


/* DIALOG */

 .dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -200px;

    background-color: #222222;

    min-width: 300px;
    min-height: 200px;
	box-shadow: 0 0 4px #111;
    border-radius: 6px;
}

.dialog.settings {
	left: 10px;
	bottom: 20px;
	height: calc( 50% );
    margin: auto;
    overflow: auto;
}

.dialog .close {
    float: right;
	margin: 4px;
	margin-right: 10px;
	cursor: pointer;
	font-size: 1.4em;
}

.dialog .close:hover {
	color: white;
}

.dialog .dialog-header {
	color: #AAA;
	border-bottom: 1px solid #161616;
}

.dialog .dialog-header { height: 40px; }
.dialog .dialog-footer { height: 30px; padding: 5px; padding-bottom: 0px; border-top: 1px solid #1a1a1a;}

.dialog .dialog-header .dialog-title {
    font: 20px "Arial";
    margin: 4px;
    padding: 4px 10px;
    display: inline-block;
}

.dialog .dialog-content {
    height: calc(100% - 90px);
    width: calc(100% - 10px);
    padding: 4px;
    display: inline-block;
	color: #AAA;
}

.dialog .dialog-content h3 {
	margin: 10px;
}

.dialog .dialog-content .connections {
	flex-direction: row;
}

.dialog .dialog-content .connections .connections_side {
	width: calc(50% - 5px);
	min-height: 100px;
	background-color: black;
	display: flex;
}

.dialog .node_type {
    font-size: 15px;
	display: block;
	margin: 10px;
}

.dialog .node_desc {
    opacity: 0.5;
    font-size: 14px;
	display: block;
	margin: 10px;
}

.dialog .separator {
	display: block;
	width: calc( 100% - 4px );
	height: 1px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #333;
	margin: 10px 2px;
	padding: 0;
}

.dialog .property {
	margin-bottom: 2px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dialog .property_name {
    
	color: #737373;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 120px;
	padding-left: 4px;
	overflow: hidden;
}

.dialog .property_value {
    display: inline-block;
    text-align: right;
    font: 15px "Arial";
	color: #AAA;
	background-color: #1A1A1A;
    width: calc( 100% - 122px );
	max-height: 300px;
    padding: 4px;
	padding-right: 12px;
	overflow: hidden;
	cursor: pointer;
	border-radius: 3px;
}

.dialog .property_value:hover {
	color: white;
}

.dialog .property.boolean .property_value {
	padding-right: 30px;
}

.dialog button {
    border-radius: 4px;
    border: none;
    padding: 4px 20px;
    margin-left: 0px;
    margin-bottom: 0px;
    background-color: #060606;
    color: #8e8e8e;
}

.dialog button:hover {
    background-color: #111;
    color: #FFF;
}

.dialog button.delete:hover {
    background-color: rgb(255, 97, 35);
    color: black;
}
