/* Víctor Ubieto 2020 */
/* this CSS defines the style of the app interface */

* { padding: 0; margin: 0; font-family: Arial, Helvetica, sans-serif; overflow: hidden;}

html, body  { 
    height: 100%;
    width: 100%;
}

#main {
    height: 96%;
    width: 100%;
}

#top-bar {
    height: 4%;
    width: 100%;
    padding-top: 4px;
    
    background: #1d1d1d;
}

#top-bar .text {
    color: #e4e4e4;
    padding-top: 3px;
}

#top-bar .button {
    width: 100px;
    height: 25px;
    border-radius: 2px;

    border: none;    
    transition: 0.3s;

    color: #1d1d1d;
    background-color: #e4e4e4;
}

#top-bar .button:hover {
    color: #e4e4e4;
    background-color: #5c5a5a;
}

#graph-area {
    width: 50%;
    height: 100%; 
    float: left;

    background-color: #464646;
}

#view-area {
    width: 50%;
    height: 100%;
    float: right;

    background-color: #00ff9d; 
}

pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
 }